.footer {
    min-height: 60px;
    background: linear-gradient(rgba(37, 37, 37, 0), rgb(37, 37, 37) 40%);
}

a {
    color: rgba(255, 255, 255, 1);
}

.up {
    width: 0; 
    height: 0; 
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;  
    border-bottom: 13px solid rgb(180, 180, 180);
    margin-bottom: 5px;
}
