<h1 class="text-center" style="margin-top: 40px">programmer</h1>

<p class="lead text-center" style="margin-top: 20px">hi! my name is fredrik 
    and i build things with code.<br> i focus on back-end web 
    development but i also have a passion for security, linux, bots and automation 
    in general.
</p>

<p class="lead text-center" style="margin-top: 60px">if you have a project 
    and would like to work with me or have any questions,
    <br><b>contact me: </b><a href="mailto:olsson.fred@gmail.com" 
        style="color: #fff">olsson.fred@gmail.com</a>
</p>